.about {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @include media-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 768px;
    display: grid;
    grid-template-columns: 450px 270px;
    min-height: 742px;
  }

  @include media-desktop {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1440px;
    grid-template-columns: 660px 660px;
    min-height: 698px;
  }
}

.about__text-wrapper {
  margin: 0 auto;
  width: 290px;

  @include media-tablet {
    width: 270px;
    margin: 0;
  }

  @include media-desktop {
    width: 660px;
  }
}

.about__title-wrapper {
  position: relative;
  padding-top: 16px;
  padding-bottom: 17px;

  @include media-tablet {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @include media-desktop {
    padding-top: 45px;
    padding-bottom: 0;
  }
}

.about__title-wrapper h2 {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: #2d383f;

  @include media-tablet {
    font-size: 25px;
    line-height: 25px;
  }

  @include media-desktop {
    font-size: 35px;
    line-height: 35px;
  }
}

.about__title-wrapper p {
  position: absolute;
  top: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: #2d383f;
  opacity: 0.03;
  margin: 0;

  @include media-tablet {
    font-size: 40px;
    line-height: 40px;
    top: 5px;
  }

  @include media-desktop {
    font-size: 55px;
    line-height: 55px;
    top: 6px;
  }
}

.about__text-wrapper > h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #2d383f;

  @include media-tablet {
    font-size: 18px;
    line-height: 18px;
    margin-top: 36px;
    margin-bottom: 15px;
  }

  @include media-desktop {
    font-size: 21px;
    line-height: 21px;
    margin-top: 57px;
    margin-bottom: 20px;
  }
}


.about__text-wrapper > p + h3 {
  @include media-tablet {
    margin-top: 25px;
  }
}

.about__text-wrapper > p {
  font-size: 14px;
  line-height: 20px;
  color: #2d383f;
  margin: 0;

  @include media-tablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include media-desktop {
    font-size: 14px;
    line-height: 22px;
    width: 585px;
  }
}

.about__picture-wrapper img {
  display: block;

  @include media-tablet {
    margin-top: 134px;
  }

  @include media-desktop {
    margin-top: 0;
  }
}
