.form__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  min-height: 638px;
  box-sizing: border-box;
  margin: 0 auto;
  background-image:
    image-set(
      url("../../img/form-mobile-background@1x.webp") type("image/webp") 1x,
      url("../../img/form-mobile-background@2x.webp") type("image/webp") 2x,
      url("../../img/form-mobile-background@1x.jpg") type("image/jpg") 1x,
      url("../../img/form-mobile-background@2x.jpg") type("image/jpg") 2x
    );
  background-color: #070d04;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media-tablet {
    width: 768px;
    min-height: 680px;
    background-image:
      image-set(
        url("../../img/form-tablet-background@1x.webp") type("image/webp") 1x,
        url("../../img/form-tablet-background@2x.webp") type("image/webp") 2x,
        url("../../img/form-tablet-background@1x.jpg") type("image/jpg") 1x,
        url("../../img/form-tablet-background@2x.jpg") type("image/jpg") 2x
      );
  }

  @include media-desktop {
    width: 1440px;
    min-height: 760px;
    background-image:
      image-set(
        url("../../img/form-desktop-background@1x.webp") type("image/webp") 1x,
        url("../../img/form-desktop-background@2x.webp") type("image/webp") 2x,
        url("../../img/form-desktop-background@1x.jpg") type("image/jpg") 1x,
        url("../../img/form-desktop-background@2x.jpg") type("image/jpg") 2x
      );
  }
}

.form__wrapper {
  text-align: center;
}

.form__wrapper h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  margin-top: 2px;
  margin-bottom: 18px;
  color: #ffffff;
  max-width: 258px;

  @include media-tablet {
    font-size: 25px;
    line-height: 25px;
    margin-top: 3px;
    margin-bottom: 25px;
    max-width: 360px;
  }

  @include media-desktop {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    margin-top: 4px;
    max-width: 960px;
  }
}

.form__wrapper br {
  @include media-tablet {
    display: none;
  }
}

.form__wrapper p {
  font-size: 12px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  max-width: 258px;

  @include media-tablet {
    font-size: 16px;
    line-height: 24px;
    max-width: 360px;
    margin-bottom: 25px;
  }

  @include media-desktop {
    margin-bottom: 40px;
    max-width: 960px;
  }
}

.form__send-form {
  @include media-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 8px;

  @include media-tablet {
    margin-bottom: 11px;
  }

  @include media-desktop {
    margin-bottom: 0;
  }
}

.form__label span {
  position: absolute;
  top: 17px;
  left: 15px;
  color: #2d383f;
  transition: opacity 0.3s;
  opacity: 0.5;

  @include media-tablet {
    top: 20px;
    left: 30px;
  }
}

.form__label:has(.form__input:disabled) span {
  opacity: 0.5;
}

.form__input {
  width: 258px;
  height: 50px;
  box-sizing: border-box;
  padding: 17px 15px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  font-family: inherit;

  &::placeholder {
    opacity: 0;
    color: #0266c1;
  }

  &:hover {
    border: 1px solid #0266c1;
  }

  &:focus-visible {
    border: 1px solid #2d383f;
    outline: none;
  }

  &:disabled {
    border: 1px solid #999999;
    background-color: #ffffff;
  }

  @include media-tablet {
    width: 360px;
    height: 56px;
    padding: 20px 30px;
  }
}

.form__send-form--sended .form__input:invalid {
  border: 1px solid #ff121f;
  color: rgba(45, 56, 63, 0.5);
}

.form__input--show-placeholder {
  &::placeholder {
    opacity: 1;
  }
}

.form__submit {
  background-color: #0266c1;
  box-sizing: border-box;
  width: 258px;
  height: 58px;
  padding: 21px 19px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  font-family: inherit;

  @include media-tablet {
    width: 360px;
    padding: 20px;
  }

  @include media-desktop {
    width: 180px;
  }
}
