.hero__swiper {
  width: 320px;
  height: 568px;
  margin: 0 auto;
}

.hero__swiper-pagination {
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-theme-color: #ffffff;
  --swiper-pagination-bottom: 40px;

  height: 16px;

  @include media-tablet {
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #ffffff;
}

.hero__slide-image {
  display: block;
}

.hero__swiper-slide {
  position: relative;
}

.hero__text-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
  padding-top: 144px;
  padding-bottom: 56px;
}

.hero__text-wrapper h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
}

.hero__text-wrapper p {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 15px;
  line-height: 20px;
}

.hero__button {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  padding: 20px;
  background-color: #0266c1;
  color: #ffffff;
  width: 180px;
  box-sizing: border-box;
  margin: 0 auto;
}
