.page-header {
  background-color: #0266c1;
  padding: 15px 0;

  @include media-tablet {
    padding: 20px 0;
  }
}

.page-header__burger {
  border: none;
  background-color: transparent;
  background-image: url("/__spritemap#sprite-menu-view");
  width: 26px;
  height: 26px;
  grid-area: burger;

  @include media-desctop {
    display: none;
  }
}

.page-header__navigation {
  display: none;

  @include media-desctop {
    display: block;
    grid-area: nav;
  }
}

.page-header__phone {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  margin-top: 14px;
  margin-bottom: 0;
  grid-area: phone;
  text-align: right;

  @include media-tablet {
    margin-top: 0;
    font-size: 16px;
    line-height: 16px;
  }
}

.page-header__logo-wrapper {
  grid-area: logo;
}

.page-header__logo-wrapper img {
  display: block;

  @include media-tablet {
    margin: 0 auto;
  }
}

.page-header__container {
  display: grid;
  grid-template-columns: 1fr 142px;
  grid-template-areas:
    "burger logo"
    ".      phone";

  @include media-tablet {
    grid-template-columns: 226px 226px 226px;
    grid-template-areas: "burger logo phone";
    align-items: center;
  }

  @include media-desctop {
    grid-template-columns: 205px 838px 157px;
    grid-template-areas: "logo nav phone";
  }
}

.page-header__list {
  @include media-desctop {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.page-header__item-link {
  @include media-desctop {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
  }
}
