.reviews {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media-desktop {
    padding-top: 100px;
    padding-bottom: 87px;
    position: relative;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 317px;
      right: 0;
      width: 1440px;
      height: 447px;
      background-image:
        image-set(
          url("../../img/background-3-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/background-3-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/background-3-desktop@1x.png") type("image/png") 1x,
          url("../../img/background-3-desktop@2x.png") type("image/png") 2x
        );
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.reviews__title-wrapper {
  padding-top: 16px;
  padding-bottom: 17px;
  position: relative;
  width: 290px;
  margin: 0 auto 15px;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 0;
    width: 678px;
    margin: 0 auto 25px;
  }

  @include media-desktop {
    width: 1200px;
    padding-top: 45px;
    margin: 0 auto 38px;
  }
}

.reviews__title-copy {
  position: absolute;
  top: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: #2d383f;
  opacity: 0.03;
  margin: 0;

  @include media-tablet {
    font-size: 40px;
    line-height: 40px;
  }

  @include media-desktop {
    font-size: 55px;
    line-height: 55px;
  }
}

.reviews__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: #2d383f;

  @include media-tablet {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 25px;
  }

  @include media-desktop {
    margin-bottom: 0;
    font-size: 35px;
    line-height: 35px;
  }
}

.reviews__swiper {
  width: 290px;
  margin: 0 auto;

  @include media-tablet {
    width: 1160px;
  }

  @include media-desktop {
    width: 1520px;
  }
}

.swiper-slide.reviews__swiper-slide {
  padding: 19px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  box-sizing: border-box;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 19px;
    padding-right: 29px;
  }

  @include media-desktop {
    padding-right: 39px;
  }
}

.reviews__text-wrapper {
  @include media-tablet {
    width: 299px;
  }

  @include media-desktop {
    width: 352px;
  }
}

.reviews__text-wrapper p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;

  @include media-tablet {
    margin-top: 0;
  }

  @include media-desktop {
    font-size: 14px;
    line-height: 22px;
  }
}

.reviews__text-wrapper p + p {
  margin-top: 8px;
}

.reviews__text-wrapper h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin-top: 15px;
  margin-bottom: 8px;

  @include media-tablet {
    margin-top: 25px;
    margin-bottom: 6px;
  }

  @include media-desktop {
    margin-top: 2px;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 8px;
  }
}

.reviews__text-wrapper h3 + p {
  line-height: 12px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 0;

  @include media-tablet {
    margin-top: 6px;
  }

  @include media-desktop {
    margin-top: 8px;
  }
}

.reviews__picture-wrapper img {
  display: block;
}

.reviews__buttons-wrapper {
  display: none;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.reviews__slider-next,
.reviews__slider-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;
  background-color: #0266c1;
  border: none;
  cursor: pointer;
  padding: 0;
}

.reviews__slider-prev::before {
  content: " ";
  display: block;
  width: 14px;
  height: 9px;
  mask-image: url("/__spritemap#sprite-slider-arrow-left-view");
  mask-size: 14px 9px;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.reviews__slider-next::before {
  content: " ";
  display: block;
  width: 14px;
  height: 9px;
  mask-image: url("/__spritemap#sprite-slider-arrow-right-view");
  mask-size: 14px 9px;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.reviews__slider-disabled {
  background-color: #999999;
}

.reviews__slider-wrapper {
  @include media-tablet {
    width: 768px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 45px;
    box-sizing: border-box;
  }

  @include media-desktop {
    width: 1440px;
    padding-left: 120px;
  }
}
