.tours {
  padding: 20px 0;

  @include media-tablet {
    padding: 40px 0;
    position: relative;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: -92px;
      right: 0;
      width: 425px;
      height: 1630px;
      background-image:
        image-set(
          url("../../img/background-1@1x.webp") type("image/webp") 1x,
          url("../../img/background-1@2x.webp") type("image/webp") 2x,
          url("../../img/background-1@1x.png") type("image/png") 1x,
          url("../../img/background-1@2x.png") type("image/png") 2x
        );
      background-size: 425px 1630px;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @include media-desktop {
    padding: 100px 0;

    &::before {
      right: 0;
      top: -128px;
      width: 602px;
      height: 1630px;
      background-image:
        image-set(
          url("../../img/background-desktop-1@1x.webp") type("image/webp") 1x,
          url("../../img/background-desktop-1@2x.webp") type("image/webp") 2x,
          url("../../img/background-desktop-1@1x.png") type("image/png") 1x,
          url("../../img/background-desktop-1@2x.png") type("image/png") 2x
        );
      background-size: 602px 1630px;
    }
  }
}

.tours__title-wrapper {
  width: 290px;
  margin: 0 auto;
  position: relative;
  padding-top: 16px;
  padding-bottom: 17px;
  margin-bottom: 25px;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 678px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  @include media-desktop {
    width: 1200px;
    padding-top: 20px;
  }
}

.tours__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: #2d383f;

  @include media-tablet {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  @include media-desktop {
    margin-bottom: 0;
    font-size: 35px;
    line-height: 35px;
  }
}

.tours__title-copy {
  position: absolute;
  top: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: #2d383f;
  opacity: 0.03;
  margin: 0;

  @include media-tablet {
    font-size: 40px;
    line-height: 40px;
  }

  @include media-desktop {
    font-size: 55px;
    line-height: 55px;
  }
}

.tours__buttons-wrapper {
  display: none;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.tours__swiper {
  width: 290px;
  min-height: 416px;
  margin: 0 auto;

  @include media-tablet {
    width: 678px;
  }

  @include media-desktop {
    width: 1200px;
  }
}

.tours__slide-image {
  display: block;
}

.tours__swiper-slide {
  position: relative;
}

.tours__overlay {
  position: absolute;
  box-sizing: border-box;
  padding: 30px 20px;
  width: 100%;
  bottom: 0;
}

.tours__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px 0;
}

.tours__place {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #0266c1;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  &::before {
    content: " ";
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-place-view");
    background-repeat: no-repeat;
  }
}

.tours__day {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  &::before {
    content: " ";
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-sun-view");
    background-repeat: no-repeat;
  }
}

.tours__night {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  &::before {
    content: " ";
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-moon-big-view");
    background-repeat: no-repeat;
  }
}

.tours__count-days {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.tours__item-title {
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;

  &::after {
    content: " ";
    display: block;
    margin-top: 15px;
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.2;
  }
}

.tours__main-data-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tours__complexity-title {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 4px;
}

.tours__complexity--stars-3::after {
  content: " ";
  display: block;
  width: 84px;
  height: 16px;
  background-image: url("/__spritemap#sprite-stars-3-view");
  background-repeat: no-repeat;
}

.tours__complexity--stars-4::after {
  content: " ";
  display: block;
  width: 84px;
  height: 16px;
  background-image: url("/__spritemap#sprite-stars-4-view");
  background-repeat: no-repeat;
}

.tours__complexity--stars-5::after {
  content: " ";
  display: block;
  width: 84px;
  height: 16px;
  background-image: url("/__spritemap#sprite-stars-5-view");
  background-repeat: no-repeat;
}

.tours__date-title,
.tours__group-title {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 7px;
}

.tours__date,
.tours__group {
  color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  margin: 0;
}

.tours__link-wrapper {
  text-align: center;
}

.tours__link-to-all {
  display: inline-flex;
  align-items: center;
  margin: 25px auto 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 4%;
  padding: 10px;
  color: #2d383f;
  gap: 12px;

  &::after {
    content: " ";
    display: block;
    width: 9px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-link-right-view");
    mask-size: 9px 14px;
    mask-repeat: no-repeat;
    background-color: #2d383f;
  }

  @include media-tablet {
    padding: 10px 235px;
    font-size: 16px;
    line-height: 16px;
  }

  @include media-desktop {
    margin: 53px auto 0;
    padding: 10px 495px;
  }
}

.tours__slider-next,
.tours__slider-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;
  background-color: #0266c1;
  border: none;
  cursor: pointer;
  padding: 0;
}

.tours__slider-prev::before {
  content: " ";
  display: block;
  width: 14px;
  height: 9px;
  mask-image: url("/__spritemap#sprite-slider-arrow-left-view");
  mask-size: 14px 9px;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.tours__slider-next::before {
  content: " ";
  display: block;
  width: 14px;
  height: 9px;
  mask-image: url("/__spritemap#sprite-slider-arrow-right-view");
  mask-size: 14px 9px;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.tours__slider-disabled {
  background-color: #999999;
}
