.tours {
  padding: 20px 0;
}

.tours__title-wrapper {
  width: 290px;
  margin: 0 auto;
  position: relative;
  padding-top: 16px;
  padding-bottom: 17px;
  margin-bottom: 25px;
}

.tours__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: #2d383f;
}

.tours__title-copy {
  position: absolute;
  top: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: #2d383f;
  opacity: 0.03;
  margin: 0;
}

.tours__buttons-wrapper {
  display: none;
}

.tours__swiper {
  width: 290px;
  min-height: 416px;
  margin: 0 auto;
}

.tours__slide-image {
  display: block;
}

.tours__swiper-slide {
  position: relative;
}

.tours__overlay {
  position: absolute;
  box-sizing: border-box;
  padding: 30px 20px;
  width: 100%;
  bottom: 0;
}

.tours__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px 0;
}

.tours__place {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #0266c1;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  &::before {
    content: " ";
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-place-view");
    background-repeat: no-repeat;
  }
}

.tours__day {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  &::before {
    content: " ";
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-sun-view");
    background-repeat: no-repeat;
  }
}

.tours__night {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  &::before {
    content: " ";
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-moon-big-view");
    background-repeat: no-repeat;
  }
}

.tours__count-days {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.tours__item-title {
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;

  &::after {
    content: " ";
    display: block;
    margin-top: 15px;
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.2;
  }
}

.tours__main-data-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tours__complexity-title {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 4px;
}

.tours__complexity--stars-4::after {
  content: " ";
  display: block;
  width: 84px;
  height: 16px;
  background-image: url("/__spritemap#sprite-stars-4-view");
  background-repeat: no-repeat;
}

.tours__complexity--stars-5::after {
  content: " ";
  display: block;
  width: 84px;
  height: 16px;
  background-image: url("/__spritemap#sprite-stars-5-view");
  background-repeat: no-repeat;
}

.tours__date-title,
.tours__group-title {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 7px;
}

.tours__date,
.tours__group {
  color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  margin: 0;
}

.tours__link-wrapper {
  text-align: center;
}

.tours__link-to-all {
  display: inline-flex;
  align-items: center;
  margin: 25px auto 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 4%;
  padding: 10px;
  color: #2d383f;
  gap: 12px;

  &::after {
    content: " ";
    display: block;
    width: 9px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-link-right-view");
    mask-size: 9px 14px;
    mask-repeat: no-repeat;
    background-color: #2D383F;
  }
}
