.training {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.training__title-wrapper {
  width: 290px;
  margin: 0 auto;
  position: relative;
  padding-top: 16px;
  padding-bottom: 17px;

  @include media-tablet {
    width: 678px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @include media-desktop {
    width: 1200px;
    padding-top: 19px;
    padding-bottom: 1px;
  }
}

.training__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: #2d383f;

  @include media-tablet {
    font-size: 25px;
    line-height: 25px;
  }

  @include media-desktop {
    font-size: 35px;
    line-height: 35px;
  }
}

.training__title-copy {
  position: absolute;
  top: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: #2d383f;
  opacity: 0.03;
  margin: 0;

  @include media-tablet {
    font-size: 40px;
    line-height: 40px;
  }

  @include media-desktop {
    font-size: 55px;
    line-height: 55px;
  }
}

.training__text-wrapper {
  width: 290px;
  margin: 18px auto 15px;

  @include media-tablet {
    width: 678px;
    margin: 26px auto 25px;
  }

  @include media-desktop {
    width: 1200px;
    margin: 37px auto 56px;
  }
}

.training__text-wrapper p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #2d383f;

  @include media-tablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include media-desktop {
    max-width: 820px;
  }
}

.training__second-title-wrapper {
  margin: 0 auto 25px;
  width: 290px;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 30px;
    width: 678px;
  }

  @include media-desktop {
    width: 1200px;
    margin: 0 auto 20px;
  }
}

.training__second-title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;

  @include media-tablet {
    font-size: 25px;
    line-height: 25px;
  }

  @include media-desktop {
    font-size: 35px;
    line-height: 35px;
  }
}

.training__buttons-wrapper {
  display: none;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.training__swiper {
  width: 290px;
  margin: 0 auto;

  @include media-tablet {
    width: 678px;
  }

  @include media-desktop {
    width: 1200px;
  }
}

.training__swiper-slide {
  min-height: 354px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(2, 102, 193, 0.1);

  @include media-tablet {
    min-height: 388px;
  }

  @include media-desktop {
    min-height: 356px;
  }
}

.training__slide-image {
  display: block;
}

.training__instructor-name-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.training__instructor-name-wrapper h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.training__vk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(45, 56, 63, 0.3);

  &::before {
    content: " ";
    display: block;
    width: 14px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-repeat: no-repeat;
    background-color: #2d383f;
  }
}

.training__instructor-description p {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}

.training__slider-next,
.training__slider-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;
  background-color: #0266c1;
  border: none;
  cursor: pointer;
  padding: 0;
}

.training__slider-prev::before {
  content: " ";
  display: block;
  width: 14px;
  height: 9px;
  mask-image: url("/__spritemap#sprite-slider-arrow-left-view");
  mask-size: 14px 9px;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.training__slider-next::before {
  content: " ";
  display: block;
  width: 14px;
  height: 9px;
  mask-image: url("/__spritemap#sprite-slider-arrow-right-view");
  mask-size: 14px 9px;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.training__slider-disabled {
  background-color: #999999;
}
